$mainColor: black;
$subColor: grey;

@mixin shrinkLabel {
	top: -14px;
	font-size: 12px;
	color: $mainColor;
}

.formGroup {
	// border: solid 1px red;
	position: relative;
	margin: 45px 0;

	.formInput {
		background: none;
		background-color: white;
		color: $subColor;
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 100%;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid $subColor;
		margin: 25px 0;

		&:focus {
			outline: none;
		}

		&:focus ~ .formInputLabel {
			@include shrinkLabel();
		}
	}

	input[type="password"] {
		letter-spacing: 0.3em;
	}

	.formInputLabel {
		color: $subColor;
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		transform: 300ms ease all;

		&.shrink {
			@include shrinkLabel();
		}
	}
}
